$white: #FFF;
$black: #000;
$orange: #DF7401;
body {
    background: #000 url('../img/background.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
 }
 h1 {
     color: $white;
 }
 ul.nav {
     background-color: $white;
 }
 .nav-link {
     margin: 0 1rem; 
     cursor: pointer;
     padding-bottom: .5rem;
     text-align: center;
     
 }
 .nav-link:hover  {
    padding-bottom: .2rem;
     border-bottom: 5px solid #DF7401;
 }
 